.body{
width: 360px;
height: 4160px;
angle: 0 deg;
opacity: 1;
border: 2px solid red;
margin: auto;
}
.header{
	width: 360px;
height: 132px;
background:#131313 ;
color: white;
margin-top: -15px;
}
.VЁRSTKA{
	font-family: 'Inter', sans-serif;
	 font-weight: bold;
}
.right{
text-align: right;
margin-top: -30px;	
font-family: 'Inter', sans-serif;
}
.header-text {
    text-align: right;
    text-decoration: underline;
}
.title{
	width: 360px;
height: 198px;
background:#131313 ;
background-image: url'image.png';
}